body{
    background-color: #FFB4E1;
    color: #E12E89;
    text-align: center;
    font-size: 128%;
}
.paragrafo01{
    color: #E12E89;
    font-size: 20%;
}
.imagem01{
    width: 5%;
}
.paragrafo02{
    font-size: 29%;
    
}